<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<%= current_user.name %>
<br />
<%= current_user.email %>

<% reward = Reward.find(20) %>
<%= link_to "招待された", reward_path(reward.id, invitation_token: "Njj4Y6bgT_CKoFjHR4JqTw") %>
